name: CI | Python Quality, Build and Test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main, develop]

jobs:
  code-quality:
    name: Code Quality (pre-commit)
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: tox-dev/action-pre-commit-uv@246b66536e366bb885f52d61983bf32f7c95e8b1 # v1.0.3

  test-and-analysis:
    name: Tests, Coverage & Dependency Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@2ddd2b9cb38ad8efd50337e8ab201519a34c9f24 # v7.1.1
        with:
          enable-cache:
            true

            # TODO: add separate group for ci in .toml
      - name: Install dependencies
        run: uv sync --group dev

      - name: Show Git tag
        run: |
          echo "Git describe: $(git describe --tags --dirty --always)"
          uv run python -c "import ml_ajourhold; print(f'Package version: {ml_ajourhold.__version__}')"

      - name: Run deptry (dependency check)
        run: uv run deptry . --known-first-party ml_ajourhold

      - name: Run tests with coverage
        run: uv run pytest -m "not ci_exclude"

  build-and-inspect:
    name: Build & Inspect Package
    needs: [code-quality, test-and-analysis]
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Required for setuptools-scm
          persist-credentials: false
      - uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2.14.0
